@import "tailwindcss";

@theme {
  --color-level-low: #22c55e;
  --color-level-normal: #eab308;
  --color-level-high: #f97316;
  --color-level-veryhigh: #ef4444;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply antialiased text-gray-800 bg-gray-50;
}
